.container-feedback {
  align-content: flex-start;
  align-items: center;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-top: 5%;
  min-height: 350px;
  padding: 20px;
  width: 600px;
}

.header-feed {
  align-self: auto;
  background-color: rgb(225, 228, 230);
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  justify-content: space-between;
  margin-bottom: 20px;
  order: 0;
  width: 100%;
}

.txt-header {
  color: rgb(60, 40, 107);
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 25px;
  padding-right: 15px;
}

.body-feed {
  align-self: auto;
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  min-height: 150px;
  width: 100%;
}

.text-body {
  color: rgb(35, 35, 92);
  font-size: 24px;
  margin: 0 auto;
  padding-top: 30px;
}

.subtexto {
  color: rgb(35, 35, 92);
  font-size: 20px;
  margin: 0 auto;
  padding-top: 30px;
}

.btn-ranking {
  background: #369cb8;
  border: 0;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 15px;
  width: 100%;
}

.btn-voltar {
  background: #44c4e7;
  border: 0;
  color: white;
  cursor: pointer;
  margin-top: 50px;
  padding: 10px 15px;
  width: 100%;
}

.btn-ranking:hover {
  background-color: #106177;
}

.btn-voltar:hover {
  background-color: #699dda;
}
